<section id="card">
  <img />
  <div id="info">
    <div id="links">
    </div>
    <header>
      <h1></h1>
      <h2></h2>
    </header>
    <article>
      <p></p>
    </article>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
  </div>
</section>
<div>
  <div id="flip"></div>
</div>
